<div class="profile-sidebar">
  <div class="profile-hdr">
    <%= image_tag @user.profile_picture %>
    <div class="profile-title">
      <div class="name">
        <%= @user.full_name %>
      </div>
      <div class="username">
        @<%= @user.username %>
      </div>
    </div>
  </div>

  <div class="profile-actions">
    <ul>
      <li>
        <%= link_to "Posts", @user %>
      </li>
      <li>
        About
      </li>
    </ul>
  </div>
</div>

<div class="user-about">
  <table>
    <tr>
      <th scope="row">Name: </th>
      <td><%= @user.full_name %></td>
    </tr>

    <tr>
      <th scope="row">Username:</th>
      <td>@<%= @user.username %></td>
    </tr>

    <tr>
      <th scope="row">Email:</th>
      <td><%= @user.email %></td>
    </tr>
  </table>
</div>