<% post = Post.new(user_id: User.first.id) %>

<div class="post-container">
  <div class="post-top">
    <%= link_to post.user do %>
      <%= image_tag post.user.profile_picture, class: "profile-pic profile-sm" %>
    <% end %>

    <div class="user-header">      
      <div class="user-fullname">
        <%= link_to post.user.full_name, post.user %>
      </div>
      <div class="user-username">
        <%= link_to "@#{post.user.username}", post.user %>
      </div>
    </div>
  </div>

  <div class="post-body">

    <%= form_with model: post do |f| %>
      <%= f.hidden_field :user_id, value: post.user.id %>
      
      <div class="field">
        <%= f.text_area :content, placeholder: "What's on your mind?" %>
      </div>
      
      <div class="actions">
        <%= f.submit "Post", class: "btn-primary btn-small" %>
      </div>
    <% end %>

  </div>
</div>