<div class="post-container">
  <div class="post-top">
    <%= link_to post.user do %>
      <%= image_tag post.user.profile_picture, class: "profile-pic profile-sm" %>
    <% end %>

    <div class="user-header">      
      <div class="user-fullname">
        <%= link_to post.user.full_name, post.user %>
      </div>
      <div class="user-username">
        <%= link_to "@#{post.user.username}", post.user %>
      </div>
    </div>
  </div>

  <div class="post-body">
    <%= post.content %>
  </div>

  <div class="post-likes">
    <%= link_to image_tag("icons/like-black.svg", class: "like-btn"),
        likes_path(
          like: { user_id: test_current_user.id, likable_id: post.id, likable_type: 'Post' }
        ), data: { 'turbo-method' => :post } %>
    <%= pluralize(post.likes.count, "like") %>
  </div>

  <% unless params["action"] == "show" %>
    <div class="actions">
      <%= link_to "Show this post", post %>
    </div>
  <% end %>
</div>